.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
 }

 .normal{
   background-color: #7e7864;
 } 
 .grass {
   background-color: #5e9784;
 } 
 .fire {
   background-color: #902c1d;
 }
 .water {
   background-color: #4b79d4;
 }
 .electric {
   background-color: #d5bd5d;
 }
 .ice {
   background-color: #29c0d1;
 }
 .ground {
   background-color: #b1a669;
 }
 .flying {
   background-color: #9f8dda;
 }
 .poison {
   background-color: #632769;
 }
 .fighting {
   background-color: #680a0a;
 }
 .psychic {
   background-color: #a63d5d;
 }
 .dark {
   background-color: #221f1d;
 }
 .rock {
   background-color: #8e6c11;
 }
 .bug {
   background-color: #2d8226;
 }
 .ghost {
   background-color: #583a72;
 }
 .steel {
   background-color: #8897a5;
 }
 .dragon {
   background-color: #3c288de5;
 }
 .fairy {
   background-color: #d37ad0fb;
 }

 .pokemons button {
  color: whitesmoke;
  background-color: rgba(249, 249, 249, 0.359);
  margin: .25rem 0;
  border-color: none;
  border-radius: 1rem;
}

 .pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
 }

 .pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
 }
 
 .pokemon .name {
    color: azure;
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-size: 1.5rem;
 }

 .pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 .pokemon .details .types {
    padding: 0;
    margin: 0;
    list-style: none;
 }

 .pokemon .details .types .type {
    color: #f9f9f9;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
 }

 .pokemon .peso {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #f9f9f9;
  background-color: #221f1d;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: 1rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.1);
}
 .pokemon .details img {
    max-width: 100%;
    height: 200px;
 }

 .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  justify-content: space-between;
    width: 100%;
    padding: 1rem;
 }
 

 .pagination button {
  display: flex;
  flex-direction: row;
  
  color: rgb(232, 229, 229);
  background-color: mediumpurple;
  margin: .25rem 0;
  border-color: #320548;
  border-radius: 1rem;
}

.pagination a:link {
    color: white;
}
.pagination a:visited {
    color: white;
}



 @media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    
 }

 @media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
 }

 @media screen and (min-width: 922px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
 }