* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
    border-radius: 1rem;
}

body {
   background-color: rgba(250, 250, 250, 0.472);

}

.content {
   width: 100vw;
   height: 100vh;
    padding: 1rem;
    background-color: #bcc9c933;
}

@media screen and (min-width: 922px) {
   .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
   }
   
}

 